@import url('../common.css');

hr {
  background: lightgray;
  width: 100%;
  height: 10px;
}

/* ----------- 공통 ------------ */
* {
  /* border-radius: 10px; */
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

button {
  border-radius: 20px;
  padding: 8px 15px;
  background: palevioletred;
  color: white;

}

.bold {
  /* slide, main  기본 볼드체로 지정함 */
  font-weight: 700;
}


/* ----------slide-------------- */
.slide {
  background-image: url('https://www.lge.co.kr/kr/images/care-solutions/20230104_Home_hero_careAir_PC_1920x640_ver02.jpg');
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.slide .what {
  /* background: #f3cbe95b; */
  width: 75%;
  /* height: 80%; */
  margin:  auto;
  padding: 50px 0;
}

.slide h1 {
  /* background: lightpink; */
  font-size: 2.5em;
}

.slide p {
  /* background: lightgoldenrodyellow; */
  margin-top: 30px;
  width: 50%;
  font-size: 1.3em;
}
.slide .notice {
  background: rgba(0, 0, 0, 0.301);
  color: white;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
}
.slide .notice .new {
  /* background: pink; */
  width: 50%;
  display: flex;

  position: absolute;
  
  left: 50%;
  transform: translate(-50%, 0);
  
}
.slide .notice .new .title {
  border-right: 1px solid white;
  height: fit-content;
  width: fit-content;
  padding-right: 10px;

  margin-top: 26px;
}
.slide .notice .new .news {
  font-size: 15px;
  padding: 2px 10px;
  height: 70px;
  line-height: 70px;
}


/* ----------- main ------------ */

/* search */
main>* {
  width: 1380px;
  margin: 40px auto;
  border: 1px solid palevioletred;
}

main .search {
  max-width: 850px;
  height: 65px;
  border: 2px solid red;
  border-radius: 50px;
  padding:18px 64px;
}

main .search input {
  border: none;
  background: none;
  font-size: 20px;
  outline: none;
}
main .search input:active {
  border: none;
}
main .search button {
  float: right;

  background: url("	https://www.lge.co.kr/lg5-common/images/icons/icon-search-20.svg");
  background-repeat: no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

/* --end search */


/* menu */

main section ul {
  float: left;
  width: 28%;
  margin-right: 5%;
}

main section:last-child {
  margin-right: 0;
}

main section ul .img {
  background-color: rgb(238, 238, 238);
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin: 10px auto;
  text-align: center;
  /* line-height: 128px;  */
  position: relative;
  padding-top: 25px;
}

main section ul .img img {
  /* background: lightcoral; */

  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

main section ul h2 {
  font-size: 1.5em;
  margin: 10px;
}

main section ul li {
  border-bottom: 1px solid lightgray;
  /* margin: 10px; */
  padding: 20px;
}

main section ul li a::after {
  float: right;
  content: '>';
  font-weight: 500;
}

/* --end menu */


/* recommend */
main .recommend .box{
  display: flex;
  justify-content: space-between;
}

main .recommend .box>* {
  /* width: 30%; */
  height: 200px;

  float: left;
  /* * */
  margin: 0 10px;

  /* 작은창 */
  /* margin: 20px auto; */
  background: lightyellow;
  padding: 30px;

}


/* -- end recommend */



/* input 입력창 */
main .input>* {
  background: lightgray;
  padding: 30px;
  float: left;
  width: 49%;
}

/* * */
form label {
  border: 5px solid #cef892;
}

main .input .reservation {
  margin-right: 2%;
  position: relative;
}

main .input .reservation form label input {
  display: block;
}

main .input .reservation form .addr {
  border: 5px solid lightpink;
  /* width: 100%; */
}

main .input .reservation .but-mini {
  background-color: black;
  font-size: 0.5em;
  padding: 6px 8px;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* --end input 입력창 */



/* service */
main .service .box {
  display: flex;
  justify-content: space-between;
}

main .service .box>* {
  width: 23%;
  height: 200px;

  /* float: left; */
  /* margin-right: 10px; */

  background: rgba(231, 149, 165, 0.553);
  padding: 30px;

  width: 327px;
  height: 358px;
  color: white;
  font-size: 1.5em;
  line-height: 36px;
  /* flex-direction: column-reverse; */
  position: relative;
}

main .service .box span {
  position: absolute;
  bottom: 30px;
}

main .service .box .box1 {
  background: url('https://www.lge.co.kr/kr/dcr/images/support/main-banner/menu/home_service_banner_03_220825.png');
}

main .service .box .box2 {
  background: url('https://www.lge.co.kr/kr/dcr/images/support/main-banner/menu/home_service_banner_02.jpg')
}

main .service .box .box3 {
  background: url('https://www.lge.co.kr/kr/dcr/images/support/main-banner/menu/home_service_banner_03.jpg')
}

main .service .box .box4 {
  background: url('https://www.lge.co.kr/kr/dcr/images/support/main-banner/menu/home_service_banner_04.jpg')
}


/* ---------infor, etc box */
main .infor .box>*,
main .etc .box>* {
  width: 30%;
  height: 100px;

  float: left;
  margin-right: 10px;

  background: rgba(255, 160, 122, 0.5);
}

main
/* --end service */