@import url('../css/common.css');
@import url('../css/header\,\ footer.css');

/* ----------- 공통 ------------ */
.wrap {
  background-repeat: no-repeat;
  background-position: center;

  font-size: 16px;
  font-weight: 700;
  /* font-family: 'Noto Sans',sans-serif; */
}
h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

/* box radius */
.radius>* {
  border-radius: 10px;
}

.button {
  border-radius: 50px;
  padding: 10px 30px;
  background: palevioletred;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
}


/* ----------slide-------------- */
.slide {
  background-image: url('https://www.lge.co.kr/kr/images/care-solutions/20230104_Home_hero_careAir_PC_1920x640_ver02.jpg');
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slide .what {
  /* background: #f3cbe95b; */
  width: 75%;
  /* height: 80%; */
  margin: auto;
  padding: 50px 0;
}

.slide h1 {
  /* background: lightpink; */
  font-size: 2.5em;
}

.slide p {
  /* background: lightgoldenrodyellow; */
  margin-top: 30px;
  width: 50%;
  font-size: 24px;
}

.slide .notice {
  background: rgba(0, 0, 0, 0.301);
  color: white;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
}

.slide .notice .new {
  /* background: pink; */
  width: 50%;
  display: flex;

  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);

}

.slide .notice .new .title {
  border-right: 1px solid white;
  height: fit-content;
  width: fit-content;
  padding-right: 10px;

  margin-top: 26px;
}
.slide .notice .new .news {
  font-size: 15px;
  padding: 2px 10px;
  height: 70px;
  line-height: 70px;
}


/* ----------- main ------------ */
main {
  /* background: rgba(211, 211, 211, 0.322); */
  width: 1380px;
  margin: 0 auto;
  /* border: 1px solid palevioletred; */
  background-size: cover;
}

main>* {
  margin: 50px 0 50px;
}

/* search */
main .search {
  /* background: rgba(255, 182, 193, 0.336); */
  max-width: 850px;
  height: 65px;
  border: 2px solid red;
  border-radius: 50px;
  margin: 40px auto;
}

main .search input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 650px;
  margin: 20px 70px 20px 35px;
  float: left;
}

main .search input:active {
  border: none;
}

main .search button {
  float: right;

  background: none;
  border: none;
  padding: 20px;
  cursor: pointer;
}

/* --end search */


/* menu */
main section {
  width: 100%;
  /* background-color: lightcoral; */

  display: flex;
  justify-content: space-around;
  margin-top: 0;
}

main section ul {
  width: 25%;
  /* background: lightgoldenrodyellow; */
}

main section ul .img {
  background-color: rgb(238, 238, 238);
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin: 10px auto;
  text-align: center;
  /* line-height: 128px;  */
  position: relative;
  padding-top: 25px;
}

main section ul h2 {
  font-size: 1.5em;
  margin: 10px;
}

main section ul li {
  border-bottom: 1px solid lightgray;
  /* margin: 10px; */
  padding: 20px;
}

main section ul li a {
  font-size: 20px;
}

main section ul li a::after {
  float: right;
  content: '>';
  font-weight: 500;
}

/* --end menu */


/* recommend */
main .recommend {
  /* background: rgba(240, 128, 128, 0.253); */
}

main .recommend form.sub .check input {
  float: left;
}

/* .check input label::after {
  background-image: url("https://www.lge.co.kr/lg5-common/images/icons/btn-checkbox-off-48.svg");
}

.check input label::after {
  content: ' ';
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  background: no-repeat center center;
  background-size: 100%;
} */

main .recommend form.sub .button {
  float: right;
}

main .recommend .button {
  background: none;
  color: black;
  border-width: 1px;
}

main .recommend .boxes {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

main .recommend .boxes>.box {
  /* width: 30%; */
  height: 200px;

  float: left;
  /* * */
  margin: 0 10px;

  box-shadow: 2px 2px 15px rgba(0, 0, 0, 15%);
  padding: 30px;
}

/* -- end recommend */



/* input 입력창 */
main .input>* {
  background: rgb(238, 238, 238);
  padding: 50px;
  float: left;
  width: 49%;
}
main .input {
  display: flex;
  justify-content: space-between;
}
/* -------공통-------- */
main .input .title {
  /* background-color: lightpink; */
  border-bottom: 2px solid black;
}
main .input .title h2 {
  margin-bottom: 0px;
}

main .input input {
  display: block;
  width: 280px;
  height: 45px;
  font-size: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: white;
}
main .input .title h2 {
  font-size: 28px;
  float: left;
  padding-bottom: 10px;
}
main .input label {
  /* background: lightseagreen; */
  display: block;
  margin-top: 30px;
}

/* reservation */
main .input .reservation .title .but-mini {
  background-color: black;
  font-size: 14px;
  padding: 6px 8px;
  float: right;
}
main .input .reservation .name {
  float: left;
}
main .input .reservation .phone {
  float: right;
}
main .input .reservation .addr {
  display: inline-block;
}

/* --end input 입력창 */



/* service */
main .service .boxes {
  display: flex;
  justify-content: space-between;
}

main .service .boxes>* {
  width: 23%;
  height: 200px;

  /* float: left; */
  /* margin-right: 10px; */

  background: rgba(231, 149, 165, 0.553);
  padding: 30px;

  width: 327px;
  height: 358px;
  color: white;
  font-size: 1.5em;
  line-height: 36px;
  /* flex-direction: column-reverse; */
  position: relative;
}

main .service .boxes span {
  position: absolute;
  bottom: 30px;
}

main .service .boxes .box1 {
  background: url('https://www.lge.co.kr/kr/dcr/images/support/main-banner/menu/home_service_banner_03_220825.png');
}

main .service .boxes .box2 {
  background: url('https://www.lge.co.kr/kr/dcr/images/support/main-banner/menu/home_service_banner_02.jpg')
}

main .service .boxes .box3 {
  background: url('https://www.lge.co.kr/kr/dcr/images/support/main-banner/menu/home_service_banner_03.jpg')
}

main .service .boxes .box4 {
  background: url('https://www.lge.co.kr/kr/dcr/images/support/main-banner/menu/home_service_banner_04.jpg')
}


/* ---------infor, etc  공통----- */
.infor .boxes {
  display: flex;
}

/* infor box */
main .infor .boxes {
  justify-content: space-between;
}

main .infor .boxes .box {
  width: 445px;
  height: 200px;
  background-size: cover;
  position: relative;
}

main .infor .boxes .box .text {
  position: absolute;
  top: 35px;
  left: 32px;
}

/*  단축속성 (주의)  기본값 auto라서 부모요소 cover 덮힘 ㅜㅜ */
main .infor .boxes .box1 {
  background-image: url('https://www.lge.co.kr/kr/support/images/notice/notice_selfcheck_banner_230303.jpg');
}

main .infor .boxes .box2 {
  background-image: url('https://www.lge.co.kr/kr/dcr/images/support/main-banner/banner/A9_information_220901.jpg');
}

main .infor .boxes .box3 {
  background-image: url('https://www.lge.co.kr/kr/dcr/images/support/main-banner/banner/home_information_banner_02_220117.png');
}


/* etc box */
main .etc .boxes {
  display: flex;
  justify-content: space-around;
}

main .etc .boxes .box {
  /* background: olive; */
  width: 32%;
  height: 100px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 15%);

  /* 컨텐츠 중앙정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
}

main .etc .boxes .box .logo {
  /* background: lightgreen; */

}

main .etc .boxes .box .name {
  /* background: rgba(250, 250, 210, 0.397); */
  margin-left: 20px;
  font-size: 16px;
}

/* --end service */